@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media (min-width:320px) and (max-width: 768px) {
  .list {
    visibility: hidden;
  }

  .list-icon {
    visibility: visible;
  }

  .main-navbar {
    padding: 2%;
    width: 100%;
  }

  .dropdown {
    visibility: visible;
  }

  .right {
    visibility: hidden;
    width: 0;
  }
}

.carousel {
  max-height: 600px;
  opacity: 0.8;
}

@media (min-width:630px) {
  .card:hover .image {
    filter: none;
    -webkit-filter: grayscale(0);
    /* -webkit-transform: scale(1.25); */
  }

  .image {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray;
    /* IE5+ */
    -webkit-filter: grayscale(1);
    /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .3s ease-in-out;
  }
}
.custom-toast {
  z-index: 99999;
}

